/* set the CSS */

body { font: 12px Arial;}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}

.legend1 {
	font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
    text-decoration: underline;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.1;
}
.grid path {
      stroke-width: 0.1;
}

.axislabel{
  font-weight: bold;

}

/* pretty stuff */
html, body, main
{
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Roboto Condensed', sans-serif;
}

html {
  background: url(vaught.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  color: #13294B;
}

.banner-top
{
color: (200, 16, 46);
font-size: 50px;
background-color: rgb(240, 240, 240);
text-shadow: rgb(0, 0, 0) 2px -1px 2px;
text-align: center;

border-top:5px solid navy;
border-bottom: 10px solid navy;
margin: 0;
}

.banner-bottom
{
background-color: rgb(240, 240, 240);
color: rgb(240, 240, 240);
border-top:10px solid #13294B;
border-bottom: 5px solid #13294B;
margin: 0;
padding-bottom: 5px;
}

.no-padding-no-margins {
  padding: 0;
  margin: 0;
}

.resize {
    width: auto;
    height: 100px;
    margin-top: .5%;
}

.headline {
  color: rgb(200, 16, 46);
}

.blue {
    background-color: #226497;
}

select {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn {
    font-family: "Roboto", sans-serif;
}

.white {
  background-color: #fff;
}

body {
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  color: #13294B;
  text-align: center;
}
