/*
OFFICIAL COLOR CODES FOR OLE MISS'S SHADE OF RED AND BLUE:

Red
Hex Color: #C8102E;
RGB: (200, 16, 46)
PANTONE: PMS 186 C

Navy Blue
Hex Color: #13294B; 
RGB: (19,41,75)
PANTONE: PMS 2767

*/


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map
{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
}
/* Optional: Makes the sample page fill the window. */
html, body, main
{
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Roboto Condensed', sans-serif;
}

html {
  background: url(vaught.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  color: #13294B;
}

.banner-top
{
color: (200, 16, 46);
font-size: 50px;
background-color: rgb(240, 240, 240);
text-shadow: rgb(0, 0, 0) 2px -1px 2px;
text-align: center;

border-top:5px solid navy;
border-bottom: 10px solid navy;
margin: 0;
}

.banner-bottom
{

    text-align: center;
    font-weight: bold;
    color: black;

background-color: rgb(240, 240, 240);
color: rgb(240, 240, 240);
border-top:10px solid #13294B;
border-bottom: 5px solid #13294B;
margin: 0;
padding-bottom: 5px;

}

.no-padding-no-margins {
  padding: 0;
  margin: 0;
}

.resize {
    width: auto;
    height: 100px;
    margin-top: .5%;
}

.headline {
  color: rgb(200, 16, 46);
}

body
{
    background-color: #fff;
}

#map-container
{
        height: 80%;
        width: 100%;
        text-align: center;
        display: inline-block;
}

.lot-name {
    font-weight: bold;
    font-size: 14px;
}

select.select {
    margin: 5px 10px 0 5px;
}

#iw-container {
    margin-bottom: 10px;

 }

#iw-title {
    font-size: 18px;
    font-weight: 400px;
    padding: 0;
    margin: 0;
    color: rgb(40, 96, 144);
    border-radius: 2px 2px 0 0;
}

#iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 5px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;

}


.number 
{
    font-weight: bold;
    color: rgb(40, 96, 144);
}

.compareContainer 
{
    text-align: center;
    margin-top: 10px;
}

.legend-keys {
    font-weight: bold;
    color: white;
    font-size: 18px;
    font-family: "Roboto", sans-serif;

}

.select-label {
    margin-left: 5px;
    color: #C8102E;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
 }

 #gradient {
    text-align: center;
    padding-top: 15px;
 }

 .styled-select.select {
   /*background: transparent;*/
   border: 2px;
   font-size: 14px;
   height: 36px;
   width: 100px;
   padding: 5px;
}
 .semi-square {
   border-radius: 5px;
}

.blue {
    background-color: #226497;
}

select {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn {
    font-family: "Roboto", sans-serif;
}

.totalTickets {
    text-align: center;
    margin: 10px 0 5px 0;
}

#monthSelect {
    margin-left: 20px;
}

#month {
    margin-right: 20px;
}

.check-label {
    color: navy;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.zone-label {
    color: navy;
    font-family: "Roboto", sans-serif;
    font-size: 16px;   
}

#jacksonToggle {
    margin-left: 4px;
    margin-right: 15px;
}

#zoneToggle {
    margin-right: 15px;
    margin-left: 4px;
}
