/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map 
{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
}
/* Optional: Makes the sample page fill the window. */
html, body, #map
{
        height: 100%;
        margin: 0;
        padding: 0;
}
      
#map-container 
{
        height: 80%;
        width: 100%;
        text-align: center;

}

h1 {
    text-align: center;
}